<div class="share-menu">
    <h5 class="post-info-label">{{t "Share"}}</h5>
    <a title="Twitter" aria-label="Twitter" class="twitter"
        href="https://twitter.com/share?text={{title}}&url={{url absolute=" true"}}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <i class="ri-twitter-line" aria-hidden="true"></i>
    </a>
    <a title="Email" aria-label="Email" class="email" href="mailto:?subject={{title}}&amp;body={{url absolute="
        true"}}">
        <i class="ri-mail-line" aria-hidden="true"></i>
    </a>
</div>
</div>
