<html lang={{@site.locale}}>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{meta_title}}</title>


    <link rel='stylesheet' href={{asset 'dist/main.css'}} />
    <script src={{asset 'dist/main.js'}}></script>
    {{ghost_head}}
  </head>
  <body class="{{body_class}} dark-theme {{#is 'index'}}index-page{{/is}}{{#is 'post'}}post-page{{/is}}">
    <!-- 
      The nav/footer should work in two cases: when the page is wide enough,
      they should be on the two sides of main content; when the page is narrow, 
      they should take up head banner and page bottom.

      To enure this works, we first put them in places that looks good even 
      without js (page top and bottom) and then move them to the side if the
      viewport is wide enough.
    -->
    {{#if @site.cover_image}}
    <img src="{{@site.cover_image}}" alt="" class="banner-image">
    {{/if}}
    <div class="wide-banner-wrapper">
      <div class="wide-banner-wrapper-inner">
        <nav class="banner-topleft">{{> logo}}</nav>
      </div>
    </div>

    <div class="body-container {{#if @site.cover_image}}with-banner-image{{/if}}">
        {{{body}}}
    </div>

    <div class="spacer"></div>

    <footer>
      CC BY-NC 4.0<br>
      &copy; Karenia Works <br>
      Powered by Ghost.
    </footer>
    {{ghost_foot}}
  </body>
</html>
