<html lang={{@site.locale}}>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>{{meta_title}}</title>

  <link rel='stylesheet' href={{asset 'dist/main.css' }} />
  <script src={{asset 'dist/scripts/main.js' }}></script>

  {{ghost_head}}
</head>

<body class="{{body_class}} {{#is 'index'}}index-page{{/is}} {{#is 'post'}}post-page{{/is}} page-narrow">
  <!-- 
      The nav/footer should work in two cases: when the page is wide enough,
      they should be on the two sides of main content; when the page is narrow, 
      they should take up head banner and page bottom.

      To enure this works, we first put them in places that looks good even 
      without js (page top and bottom) and then move them to the side if the
      viewport is wide enough.
    -->

  <div class="narrow-header-wrapper">
    <div class="narrow-header-root" id="ui-narrow-header-root">
      {{> logo}}
      {{#is 'index, page, tag, author'}}
      <nav class="banner-topleft navigation" id="ui-nav">
        {{navigation}}
      </nav>
      {{/is}}
    </div>
  </div>

  {{#is "page, post"}}
  {{#if post.feature_image}}
  <img src="{{post.feature_image}}" alt="" class="banner-image">
  {{else}}
  <div class="banner-placeholding-spacer"></div>
  {{/if}}
  {{/is}}

  {{#is "index, tag, author"}}
  {{#if @site.cover_image}}
  <img src="{{@site.cover_image}}" alt="" class="banner-image">
  {{else}}
  <div class="banner-placeholding-spacer"></div>
  {{/if}}
  {{/is}}
  <div class="wide-banner-wrapper">
    <div class="wide-banner-wrapper-inner wide-header-left" id="ui-wide-header-root">
    </div>
  </div>


  <div class="body-container">
    {{{body}}}
  </div>

  <div class="spacer"></div>

  {{ghost_foot}}

  <div class="container narrow-footer-wrapper">
    <div class="narrow-footer-right" id="ui-narrow-footer-right-root">
      {{> ui-footer-right}}
    </div>
  </div>

  <div class="wide-footer-wrapper">
    <div class="wide-footer-right-wrapper">
      <div class="wide-footer-right" id="ui-wide-footer-right-root">
      </div>
    </div>
  </div>

  {{!--
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/languages/handlebars.min.js"></script>
  --}}

</body>

</html>
