{{!< default-layout }} {{#foreach posts}} <div class='post-card'>
  <h2><a href={{url}}>{{title}}</a></h2>
  <div class='meta'>by {{{authors}}} at {{date created_at format='YYYY-MM-DD'}}</div>
  <p class='body'>{{excerpt}}</p>
  </div>
  {{/foreach}}

  {{pagination}}
  {{> ui-footer-right}}
