{{!< default-layout }}
{{#foreach posts}}
  <div class='post'>
    <h2><a href={{url}}>{{title}}</a></h2>
    <div class='meta'>Sent by {{{authors}}} at {{date created_at format='YYYY-MM-DD'}}</div>
    <p class='body'>{{excerpt}}</p>
  </div>
{{/foreach}}
