{{!< default-layout }} {{#with post}} <div class='post'>

  <h1 class="title">{{title}}</h1>
  <section class='meta underline-links'> by {{{authors}}} at {{date created_at format='YYYY-MM-DD hh:mm' }}
    {{#if tags}}
    <br>
    Tags: {{tags}}
    {{/if}}
  </section>

  <section class='body underline-links'>
    {{{content}}}
  </section>

  <div id="ui-narrow-share-menu-root">
    {{> share-menu}}
  </div>

  <div class="pagination pagination-btn-line">
    {{#prev_post}}
    <a class="post-link prev-post" href="{{url}}">
      <div class="caption">
        <i class="ri-arrow-left-line "></i>
        Previous
      </div>
      <div class="title">
        {{title}}
      </div>
    </a>
    {{/prev_post}}
    {{#next_post}}
    <a class="post-link next-post" href="{{url}}">
      <div class="caption">
        Next
        <i class="ri-arrow-right-line "></i>
      </div>
      <div class="title">
        {{title}}
      </div>
    </a>
    {{/next_post}}
  </div>

  <script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
      var container = image.closest('.kg-gallery-image');
      var width = image.attributes.width.value;
      var height = image.attributes.height.value;
      var ratio = width / height;
      container.style.flex = ratio + ' 1 0%';
    })
  </script>

  </div>

  {{/with}}
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
